/* 底部 */
*{
  margin: 0;padding: 0;
}
.foot{
  width: 100%;
  height: 250px;
  background-color: #505050;
  padding: 40px 0 15px;
}
.wrap,.wrap a{
  width: 80%;
  margin: 0 auto;
  color: rgb(151, 151, 151);
  text-decoration: none;
}
.fix{
  display: flex;
}
.fix dl{
  font-size: 13px;
  padding-left: 22px;
  line-height: 20px;
}
.fix dl dt{
  font-size: 16px;
  color: white;
  padding-bottom: 25px;
}

.fix dl:nth-child(1){
  padding-left:0 ;
}
.fix dl:nth-child(2){
  width: 140px;
}
.fix dl:nth-child(2) dd:last-child{
  margin-top: 13px;
}
.fix dl:nth-child(3){
  width: 100px;
}
.fix dl:nth-child(4){
  width: 140px;
}
.fix dl:nth-child(5){
  width: 148px;
}
.fix dl:nth-child(6){
  width: 180px;
}
.wrap p{
  text-align: center;
  font-size: 13px;
  margin-top: 29px;
}
.wrap dl:nth-child(4) dd a{
  display: inline-block;
  width: 69px;
}





